* {
    margin: 0;
    border: 0;
    padding: 0;
}


body {
    background-color: #C3D8E9;
}

.botao-transparente {
    border: 1px solid;
    padding: 20px 30px;
    background-color: transparent;
    border-radius: 5px;
}

.botao-verde {

    padding: 20px;
    background-color: #12615E;
    color: #fff;
    border-radius: 5px;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0px 40px;

    & nav {
        display: flex;
        padding: 15px 0px 0px 40px;
        gap: 50px;


        & a {
            text-decoration: none;
            color: #242323;
            font-size: 16px;
        }
    }

    & .logo {
        margin: auto;
    }

    & .botoes {
        display: flex;
        align-items: center;
        gap: 30px;
    }

}

#hero {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 300px 40px;
    gap: 50px;


    & .textos {

        display: flex;
        flex-direction: column;
        gap: 10px;
        max-width: 450px;

        & h1 {
            color: #808080;
            font-weight: bolder;
            font-size: 3.8rem;
            line-height: 1.1;
        }

        & p {
            color: #808080;
            font-size: 1.4rem;
            margin-top: 10px;
        }

        & button {

            width: auto;
            padding: 15px 30px;
            align-self: flex-start;
            margin-top: 40px;
        }
    }

    & .big-mood {
        background-color: #FFE4E1;
        border: 1px solid #000;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        gap: 15px;

        & .icones {
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;

            & img {
                object-fit: contain;
                padding: 0px;
            }

        }

        & h2 {
            color: #E8998F;
            padding: 10px;
            text-align: center;
        }

        & img {
            padding:  10px 160px 30px 20px;
        }
    }

    & .carrinho-compra {
        position: absolute;
        top: 560px;
        right: 430px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        border-radius: 10px;
        border: 2px solid;
        padding-bottom: 20px;
        gap: 10px;
        box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.8);

        & h3 {
            border-bottom: 2px solid;
            padding: 15px;
            font-size: 1rem;
        }

        & button {
            padding: 5px;
            background-color: #12615E;
            color: #fff;
            margin: auto;
            width: 80%;
        }
    }
}