.contato_style {
    display: flex;
    flex-direction: row;
    padding: 40px 50px 50px;
    gap: 50px;
    align-items: center;
    background-color: #fff;

    & .conteudo_form {
        flex: 1;
    }

    & .social {
        flex: 1;
    }


    & img {
        width: 4%;
        object-fit: cover;
    }

    & form {
        display: flex;
        flex-direction: column;
        gap: 15px;

        & div {
            display: flex;
            flex-direction: column;
        }

        & label {
            margin-bottom: 5px;
            font-weight: bold;
        }

        & input,
        textarea {
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        & textarea {
            height: 120px;
            width: 60%;
            resize: vertical;
        }

        & button {
            padding: 12px;
            background-color: #f0f0f0;
            border: 1px solid #ccc;
            cursor: pointer;
            font-size: 16px;
            border-radius: 4px;
            transition: background-color 0.3s ease;

        }

        & button:hover {
            background-color: #Ddd;
        }

    }

    & .redes_sociais {

        text-align: center;

        & h2 {
            color: #00008B;
        }

        & img {
            width: 80px;
            object-fit: contain;
        }
    }
}

@media (max-width: 1200px) {

    .contato_style {
        flex-direction: column;
    }
    
}