.fundo_azul{
    background-color: #81E1E0;
    width: 100%;
    height: 20vh;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.fundo_azul p {
    font-size: 15px;
}