.produtos_style {
    display: flex;
    background-color: #F2FCFD;
    justify-content: space-evenly;
    padding: 80px;
    gap: 20px;
    margin-bottom: 10px;

}

@media (max-width: 1200px) {
    
    .produtos_style {
        display: grid;
        grid-template-columns: 1fr 1fr;

        & .card {
            width: 100%;
        }
    }
}

@media (max-width: 500px) {

    .produtos_style {
        justify-content: center;
    }
}